In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [2]:
url = 'https://api.pushshift.io/reddit/search/submission'

In [3]:
# UTC Time from April 6 - July 6, 2021
utc_time = ['1617670801','1617757201','1617843601','1617930001','1618016401','1618102801','1618189201','1618275601',
            '1618362001','1618448401','1618534801','1618621201','1618707601','1618794001','1618880401','1618966801',
            '1619053201','1619139601','1619226001','1619312401','1619398801','1619485201','1619571601','1619658001',
            '1619744401','1619830801','1619917201','1620003601','1620090001','1620176401','1620262801','1620349201',
            '1620435601','1620522001','1620608401','1620694801','1620781201','1620867601','1620954001','1621040401',
            '1621126801','1621213201','1621299601','1621386001','1621472401','1621558801','1621645201','1621731601',
            '1621818001','1621904401','1621990801','1622077201','1622163601','1622250001','1622336401','1622422801',
            '1622509201','1622595601','1622682001','1622768401','1622854801','1622941201','1623027601','1623114001',
            '1623200401','1623286801','1623373201','1623459601','1623546001','1623632401','1623718801','1623805201',
            '1623891601','1623978001','1624064401','1624150801','1624237201','1624323601','1624410001','1624496401',
            '1624582801','1624669201','1624755601','1624842001','1624928401','1625014801','1625101201','1625101201',
            '1625187601','1625274001','1625360401','1625446801','1625533201']

In [4]:
utc_time_month_april = ['1617670801','1617757201','1617843601','1617930001','1618016401','1618102801','1618189201','1618275601',
            '1618362001','1618448401','1618534801','1618621201','1618707601','1618794001','1618880401','1618966801',
            '1619053201','1619139601','1619226001','1619312401','1619398801','1619485201','1619571601','1619658001',
            '1619744401','1619830801','1619917201','1620003601','1620090001','1620176401']

In [5]:
utc_time_month_may = ['1620262801','1620349201',
            '1620435601','1620522001','1620608401','1620694801','1620781201','1620867601','1620954001','1621040401',
            '1621126801','1621213201','1621299601','1621386001','1621472401','1621558801','1621645201','1621731601',
            '1621818001','1621904401','1621990801','1622077201','1622163601','1622250001','1622336401','1622422801',
            '1622509201','1622595601','1622682001','1622768401','1622854801']

In [6]:
utc_time_month_june = ['1622941201','1623027601','1623114001',
            '1623200401','1623286801','1623373201','1623459601','1623546001','1623632401','1623718801','1623805201',
            '1623891601','1623978001','1624064401','1624150801','1624237201','1624323601','1624410001','1624496401',
            '1624582801','1624669201','1624755601','1624842001','1624928401','1625014801','1625101201']

In [19]:
utc_time_month_july = ['1625101201','1625187601','1625274001','1625360401','1625446801','1625533201' ]

In [7]:
df_btc = pd.DataFrame()

#### Function

Create a function to scrape the post from a subreddit by day.

In [10]:
# the first 600 rows
def btc_reddit(time, subreddit):
    change_utc = time
    changet_utc = int(change_utc)
    params_wp = {
        'subreddit': subreddit,
        'size': 100,
        'before': change_utc
    }
    res = requests.get(url, params_wp)
    res.status_code
    data = res.json()
    posts = data['data']
    df = pd.DataFrame(posts)
    df = df[['title', 'selftext', 'created_utc','subreddit']]
    df = df.append(df, ignore_index = True)
    df['text'] = df['title'] + df['selftext']
    df.drop(columns=['title', 'selftext'], inplace=True)
    df.drop_duplicates(subset=['created_utc'], inplace=True, keep='last', ignore_index=True)
    return df

#btc_reddit('1617670801', 'bitcoin')

In [11]:
# April 6th - 30th Readdit Posts (Latest 100 from everyday)
df_old = pd.DataFrame()

for i in utc_time_month_april:
    df_new = btc_reddit(i, 'bitcoin')
    df_new = df_old.append(df_new, ignore_index=True)
    df_old = df_new
    
df_april = df_old
df_april

      created_utc subreddit                                               text
0      1617670241   Bitcoin  How much would Bitcoin have to average each da...
1      1617669969   Bitcoin         Why Bitcoiners Should Play Final Fantasy X
2      1617669944   Bitcoin  What we need the most now... more dumbass inve...
3      1617669856   Bitcoin  IRS is demanding to know BTC balanceI'm asking...
4      1617669627   Bitcoin  A year ago, I found a bug in AT&amp;T and they...
...           ...       ...                                                ...
2983   1620158452   Bitcoin  'Bitcoin fixes this' projected onto bank of En...
2984   1620158385   Bitcoin  did not recieve full amount of transactionI'm ...
2985   1620158331   Bitcoin  More of this below, to counter the ignorance o...
2986   1620157999   Bitcoin  I SOLD IT ALL! On March 18, 2021, I exited all...
2987   1620157209   Bitcoin  Active Traders Currently Holding A Sizeable Lo...

[2988 rows x 3 columns]

In [24]:
# confirm that there's no duplicates for each month's df
df_july.loc[df_july['created_utc']==1625331204]

      created_utc subreddit                                               text
2984   1625331204   Bitcoin  Mining noob here. What equipment is recommende...

In [13]:
# May Readdit Posts (Latest 100 from everyday)
df_old = pd.DataFrame()

for i in utc_time_month_may:
    df_new = btc_reddit(i, 'bitcoin')
    df_new = df_old.append(df_new, ignore_index=True)
    df_old = df_new
    
df_may = df_old
df_may

      created_utc subreddit                                               text
0      1620262209   Bitcoin  FIRST LATAM CRYPTO UNICORN: "BITSO" (RAISES 25...
1      1620262100   Bitcoin  Cold walletsWhat is the most secure cold walle...
2      1620261817   Bitcoin                          Sustentabilidade[removed]
3      1620261808   Bitcoin  U.S. court authorizes IRS to seek identities o...
4      1620261093   Bitcoin     Say hello to Ripple, I got him today with $XRP
...           ...       ...                                                ...
3088   1622838508   Bitcoin  In Texas merchants can charge customers a conv...
3089   1622838486   Bitcoin                          the SEC needs to stop HIM
3090   1622838433   Bitcoin  Could be anything ...Alibaba, Google Among Mor...
3091   1622838431   Bitcoin                         Bitcoin 2021 LIVESTREAM!!!
3092   1622838417   Bitcoin                                     Bitcoin v Gold

[3093 rows x 3 columns]

In [21]:
# June Readdit Posts (Latest 100 from everyday)
df_old = pd.DataFrame()

for i in utc_time_month_june:
    df_new = btc_reddit(i, 'bitcoin')
    df_new = df_old.append(df_new, ignore_index=True)
    df_old = df_new
    
df_june = df_old
df_june

      created_utc subreddit                                               text
0      1622941118   Bitcoin                                    New Meme Format
1      1622941048   Bitcoin  Yeah in El Salvador is going to legally the bi...
2      1622940815   Bitcoin  In the Battle over Bitcoin, Itâ€™s Bull vs. Bear...
3      1622940796   Bitcoin     First latin American country to adopt #bitcoin
4      1622939981   Bitcoin                        Carbono e nutriÃ§Ã£o[removed]
...           ...       ...                                                ...
2982   1625331274   Bitcoin                                        Unstoppable
2983   1625331256   Bitcoin         Guaranteed Results with a 90% success rate
2984   1625331204   Bitcoin  Mining noob here. What equipment is recommende...
2985   1625331171   Bitcoin                       Libonomy blockchain[removed]
2986   1625331021   Bitcoin  Traded it allSetting up my new ledger nano s a...

[2987 rows x 3 columns]

In [23]:
# July 1st to 6th Readdit Posts (Latest 100 from everyday)
df_old = pd.DataFrame()

for i in utc_time_month_june:
    df_new = btc_reddit(i, 'bitcoin')
    df_new = df_old.append(df_new, ignore_index=True)
    df_old = df_new
    
df_july = df_old
df_july

      created_utc subreddit                                               text
0      1622941118   Bitcoin                                    New Meme Format
1      1622941048   Bitcoin  Yeah in El Salvador is going to legally the bi...
2      1622940815   Bitcoin  In the Battle over Bitcoin, Itâ€™s Bull vs. Bear...
3      1622940796   Bitcoin     First latin American country to adopt #bitcoin
4      1622939981   Bitcoin                        Carbono e nutriÃ§Ã£o[removed]
...           ...       ...                                                ...
2982   1625331274   Bitcoin                                        Unstoppable
2983   1625331256   Bitcoin         Guaranteed Results with a 90% success rate
2984   1625331204   Bitcoin  Mining noob here. What equipment is recommende...
2985   1625331171   Bitcoin                       Libonomy blockchain[removed]
2986   1625331021   Bitcoin  Traded it allSetting up my new ledger nano s a...

[2987 rows x 3 columns]

In [25]:
df_3month = df_april.append(df_may, ignore_index=True)
df_3month = df_3month.append(df_june, ignore_index=True)
df_3month = df_3month.append(df_july, ignore_index=True)
df_3month

,created_utc,subreddit,text
0,1617670241,Bitcoin,How much would Bitcoin have to average each da...
1,1617669969,Bitcoin,Why Bitcoiners Should Play Final Fantasy X
2,1617669944,Bitcoin,What we need the most now... more dumbass inve...
3,1617669856,Bitcoin,IRS is demanding to know BTC balanceI'm asking...
4,1617669627,Bitcoin,"A year ago, I found a bug in AT&amp;T and they..."
...,...,...,...
12050,1625331274,Bitcoin,Unstoppable
12051,1625331256,Bitcoin,Guaranteed Results with a 90% success rate
12052,1625331204,Bitcoin,Mining noob here. What equipment is recommende...
12053,1625331171,Bitcoin,Libonomy blockchain[removed]
12054,1625331021,Bitcoin,Traded it allSetting up my new ledger nano s a...

In [26]:
df_3month.dropna(inplace=True)
df_3month.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12007 entries, 0 to 12054
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_utc  12007 non-null  int64
 1   subreddit    12007 non-null  object
 2   text         12007 non-null  object
dtypes: int64(1), object(2)
memory usage: 375.2+ KB

In [27]:
df_3month.to_csv('data/readdit_btc.csv', index=False)